.page-cont{
    width: 100%;
    height: calc(100vh - 49px);
    background-color: rgb(3,3,3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-post-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(3,3,3);
    color: rgb(215,218,220);
    width: 740px;
    height: 330px;
    background-color: rgb(26,26,27);
}


.make-edit{
    display: flex;
    flex-direction: column;
    color: rgb(215,218,220);
}

.post1{
    width: 148px;
    height: 51px;
    color: rgb(215,218,220);
    background-color: rgb(26,26,27);
    border-radius: 5px 0 0 0;
    border-left: none;
    border-top: none;
}

.post1:hover{
    cursor: pointer;
}

.post2:hover{
    cursor:not-allowed !important;
}


.post2{
    width: 147px;
    height: 49.5px;
    background-color: rgb(26,26,27);
    color: rgb(215,218,220);
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid rgb(52,53,54) 1px;
    border-bottom: solid rgb(52,53,54) 1px;
}

.post-options{
    margin-bottom: 22px;
    display: flex;
}

.input-title{
    width: 708px;
    height: 39px;
    background-color: rgb(26,26,27);
    border: solid rgb(52,53,54) 1px;
    margin-bottom: 22px;
    border-radius: 5px;
    color: rgb(215,218,220);
    padding-left: 8px;
}

.input-title:hover{
    border: rgb(215,218,220) solid 1px;
    border-radius: 5px;
}

.input-content{
    width: 708px;
    height: 136px;
    background-color: rgb(26,26,27);
    border: solid rgb(52,53,54) 1px;
    margin-bottom: 12px;
    border-radius: 5px;
    color: rgb(215,218,220);
    resize: none;
    overflow-y: auto;
    padding-left: 8px;
}

.input-content:hover{
    border: rgb(215,218,220) solid 1px;
    border-radius: 5px;
}

.sel-comm{
    display: flex;
    width: 740px;
}

.sel-comm:hover{
    cursor: pointer;
}

.comm-drop{
    background-color: rgb(26,26,27);
    width: 298px;
    height: 38px;
    border: solid rgb(52,53,54) 1px;
    margin-bottom: 20px;
    display: flex;
    border-radius: 5px;
    color: rgb(215,218,220);
    /* position: relative; */
    align-items: center;
}
.drop-box{
    position: absolute;
    width: 298px;
    border: solid rgb(52,53,54) 1px;
    border-radius: 0 0 5px 5px;
    transform: translateY(130px);
    margin-left: -1px;
    background-color: rgb(26,26,27);
    height: 227px;
    overflow-y: auto;
}

.options{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: none;
    color: rgb(215,218,220);
    display: flex;
    justify-content: center;
    border-radius: 0 0 5px 5px;
}

.options:hover{
    cursor: pointer;
    background-color: rgba(102,122,128,0.10196078431372549);
}

.input-comm:hover{
    border: rgb(215,218,220) solid 1px;
    border-radius: 5px;
}

input:focus {
    outline:none;
    color: rgb(215,218,220);
}

.create-t{
    color: rgb(215,218,220);
    display: flex;
    width: 740px;
    padding-bottom: 15px;
    font-size: 18px;
    border-bottom: solid rgb(52,53,54) 1px;
    margin-bottom: 20px;
}

.commmmm{
    width: 740px;
}

.butt{
    width: 62px;
    height: 32px;
    border-radius: 15px;
    border: solid black 1px;
    margin-bottom: 10px;
}

.butt-loc{
    display: flex;
    justify-content: end;
}

.butt:hover{
    cursor: pointer;
}


