.one-post{
    /* border: 1px green solid; */
    padding: 20px;
    background-color: rgb(26,26,27);
    width: 100%;
    border-radius: 0px 5px 5px 0px;
    border-top: solid rgb(52,53,54) 1px;
    border-bottom: solid rgb(52,53,54) 1px;
    border-right: solid rgb(52,53,54) 1px;
}

.up-post:hover{
    border: rgb(215,218,220) solid 1px;
    border-radius: 5px;
}

.upvotes{
    /* border: blue solid ; */
    border-left: solid rgb(52,53,54) 1px;
    border-top: solid rgb(52,53,54) 1px;
    border-bottom: solid rgb(52,53,54) 1px;
    border-radius: 5px 0 0px 5px;
}

.top-of-post{
    display: flex;
    padding-bottom: 15px;
}

.text1{
    color: rgb(215,218,220);
    text-decoration: none;
    padding-right: 5px;
    font-size: 12px;
    font-weight: 100;
}
.text2{
    color: rgb(215,218,220);
    text-decoration: none;
    padding-right: 5px;
    font-size: 12px;

}


.post-title{
    color: rgb(215,218,220);
    font-size: 18px;
}

.up-post{
    display: flex;
    margin-top: 10px;
}

.upvotes{
    width: 40px;
    background-color: rgb(22,22,23);
}
