.post-container{
    background-color: rgb(3,3,3);
    width: 640px;
    /* height: calc(100vh - 49px); */
    /* border: white 1px solid; */
    display: flex;
    flex-direction: column;
    /* margin-right: 20px; */
}

.post{
    text-decoration: none;
    padding-bottom: 20px;
}