.one-post{
    /* border: 1px green solid; */
    padding: 20px;
    background-color: rgb(26,26,27);
    width: 100%;
}

.up-post:hover{
    border: rgb(215,218,220) solid 1px;
    border-radius: 5px;
}

.top-of-post{
    display: flex;
    padding-bottom: 15px;
    align-items: center;
}

.post-div-img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 5px;
}

.text1{
    color: rgb(215,218,220);
    text-decoration: none;
    padding-right: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.text2{
    color: rgb(128,131,132);
    text-decoration: none;
    padding-right: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;

}


.post-title{
    color: rgb(215,218,220);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.up-post{
    display: flex;
    border: solid rgb(52,53,54) 1px;
    border-radius: 5px;
}

.upvotes{
    width: 40px;
    background-color: rgb(22,22,23);
}
