.post-bg{
    width: 100%;
    height: calc(100vh - 49px);
    background-color: rgb(3,3,3);
}

.post-main-cont{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(3,3,3);
    padding-top: 80px;
}

.upvote{
    color: rgb(22,22,23);
    width: 40px;
    height: 72px;
    
}

.single-post{
    background-color: rgb(26,26,27);
    display: flex;
    width: 740px;
    border-radius: 5px;
}

.right-post{
    padding-top: 20px;
    
}

.buttons-o-post{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    padding-right: 20px;
}

.update-o{
    text-decoration: none;
    color: black;
}

.top-of-post{
    color: rgb(215,218,220);
    padding-right: 5px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.post-content{
    color: rgb(215,218,220);
    padding-bottom: 20px;
    padding-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.sing-img{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-right: 4px;
}

.post-user{
    margin-right: 4px;
    margin-left: 4px;
}

.all-the{
    width: 100%;
}

.single-post-comm{
    display: flex;
    text-decoration: none;
    color: rgb(215,218,220);
}

.post-comments{
    display: flex;
    flex-direction: column;
    border: solid rgb(52,53,54) 1px;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 5px;
}

.cr-comments{
    color: rgb(215,218,220);
    height: 171px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    background-color: rgb(26,26,27);
    padding-bottom: 50px;
    /* border-bottom: rgb(215,218,220) 1px solid; */
}

.comment-input{
    background-color: rgb(26,26,27);
    width: 674px;
    height: 141px;
    resize: none;
    overflow-y: auto;
    display: flex;
    border-radius: 5px;
    border: solid rgb(52,53,54) 1px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color:rgb(215,218,220)
}

.comment-input:focus{
    color:rgb(215,218,220);
    border: solid rgb(52,53,54)1px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

.comment-form{
    display: flex;
    justify-content: center;
}
.above-combox{
    padding-left: 32px;
    font-family: Arial, Helvetica, sans-serif;
}
.divider{
    width: 100%;
    background-color: rgb(26,26,27);
}

.divicer{
    width: 678px;
    border-bottom: solid rgb(52,53,54) 1px;
    background-color: rgb(26,26,27);
    margin-left: 32px;
}

.comment-section{
    width: 100%;
    color: rgb(215,218,220);
    padding-bottom: 20px;
    background-color: rgb(26,26,27);
}

.comment-prof{
    width: 36px;
    border-radius: 100%;
    margin: 5px;
}

.comment-top{
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.comment-content{
    width: 678px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border-left: 1px solid rgb(52,53,54);
}
.comm-comment{
    width: 678px;
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
    padding-left: 25px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.comm-loc{
    margin-left: 20px;
    width: 639px;
    height: 32px;
    display: flex;
    align-items: center;
}

.comm-butt{
    border: none;
    background-color: transparent;
    color: rgb(52,53,54);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.butt-loc3{
    display: flex;
    height: 50px;
    justify-content: flex-end;
    padding-right: 28px;
    padding-top: 10px;
}

.sub-comment{
    border: none;
    width: 68px;
    height: 30px;
    border-radius: 50px;
    background-color:rgb(215,218,220)
}

.sub-comment2{
    border: none;
    width: 68px;
    height: 30px;
    border-radius: 50px;
    background-color:rgb(215,218,220);
    text-decoration: none;
    color: rgb(3,3,3);
    display: flex;
    align-items: center;
    justify-content: center;
}



.sub-comment:hover{
    cursor: pointer;
    background-color:rgb(215,218,220, 0.92)
}

.comm-butt:hover{
    cursor: pointer;
    background-color: rgba(102,122,128,0.10196078431372549);
}

.edit-comm-cont{
    display: flex;
    justify-content: center;
    width: 714px;
}

.edit-comment{
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-left: 25px;
    resize: none;
    overflow-y: auto;
    background-color: rgb(26,26,27);
    border-radius: 5px;
    border: solid rgb(52,53,54) 1px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(215,218,220);
    outline: none;
    display: flex;
    justify-content: center;
}

.edit-comment:hover{
    color:rgb(215,218,220);
    border: solid rgb(52,53,54)1px;
    font-family: Arial, Helvetica, sans-serif;

}