.post-box{
    display: flex;
    align-items: center;
    background-color: rgb(26,26,27);
    height: 58px;
    width: 640px;
    border: solid rgb(52,53,54) 1px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.prof-img{
    width: 46px;
    height: 45px;
    border-radius: 100%;
    padding: 8px;
}

.new-post-link{
    height: 38px;
    width: 486px;
    background-color: transparent;
    border: none;
}

.text-link{
    display: flex;
    width: 486px;
    height: 38px;
    color: rgb(117,117,117);
    background-color: rgb(39,39,41);
    border: solid rgb(52,53,54) 1px;
    border-radius: 5px;
}

.text-link:hover{
    border: rgb(215,218,220) solid 1px;
    border-radius: 5px;
}

.side-cont{
    border: 1px green solid;
    width: 310px;
    margin-left: 20px;
    height: calc(100vh - 71px);
    /* margin-bottom: 3px; */
}

.home-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(3,3,3);
    padding-top: 20px;
}
