.comm-container{
    width: 100%;
    height: 100%;
    background-color: rgb(3,3,3);
}

.background-img{
    width: 100%;
    height:208px;
    object-fit: cover;
}

.comm-container-contents{
    width: 984px;

}

.commu-img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    /* margin-right: 10px; */
    margin-right: 16px;
}

.comm-name-bar{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(26,26,27);
    height: 100px;
    color: rgb(215,218,220);
    margin-top: -5px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-end;
    /* margin-left: -24px; */
}

.the-comm-names{
    display: flex;
    margin-bottom: 35px;
    padding: 0 16px 0 33px;
    width: 100%;
    align-items: flex-end;
    margin-left: -24px;
}

.commu-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: rgb(3,3,3);
}

.post-sidebox{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    padding-bottom: 20px;
}

.side-con{
    /* border: 1px green solid; */
    width: 310px;
    margin-left: 20px;
    height: calc(100vh - 396px);
    /* margin-bottom: 3px; */
}

.main-name{
    font-size: 28px;
}

.about-comm{
    height: 46px;
    width: 310px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.com-desc{
    padding-bottom: 10px;
}

.edit-join{
    margin-left: 24px;
    width: 94px;
    height: 30px;
    border-radius: 30px;
    background-color: transparent;
    color: rgb(215,218,220);
    border: solid rgb(215,218,220) 1px;
    margin-bottom: 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.edit-join:hover{
    cursor: pointer;
    background-color: rgba(102,122,128,0.10196078431372549);
}

.edit-comm{
    color: rgb(215,218,220);
    width: 93px;
    height: 100%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.comm-side-cr{
    width: 100%;
    height: 32px;
    border-radius: 50px;
    border: solid rgb(52,53,54) 1px;
    background-color: rgb(26,26,27);
    color: rgb(215,218,220);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

.comm-side-cr:hover{
    cursor: pointer;
    background-color: rgba(102,122,128,0.0296078431372549);
}

.comm-name{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.comm-first-butts{
    width: 625px;
    height: 378px;
    border: 1px solid rgba(102,122,128);
    background-color: rgb(26,26,27);
    color: rgb(215,218,220);
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 16px;
    border-radius: 5px;
}

.make-first-post{
    border: solid rgb(52,53,54) 1px;
    width: 604px;
    height: 144px;
    margin-left: 16px;
    display: flex;
    color:rgb(215,218,220);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    border-radius: 5px;
}

.make-first-post:hover{
    cursor: pointer;
}

.l-fp{
    width: 67px;
    font-size: 22px;
    background-color: rgb(113,147,254);
    margin-right: 10px;
    border-radius: 5px 0 0 5px;
}

.r-fp{
    width: 539px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.grow-comm{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding-left: 15px;
    padding: 15px;
}

.time-to{
    font-size: 22px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.now-that{
    font-size: 14px;
    padding-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.first-p-l{
    text-decoration: none;
    color: rgb(215,218,220);
    background-color: rgb(113,147,254);
    width: 167px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.learn-more{
    text-decoration: none;
    color: rgb(215,218,220);
    background-color: rgb(11,211,186);
    width: 167px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn-more:hover{
    cursor: not-allowed;
}

.l-fp-d{
    width: 67px;
    font-size: 22px;
    background-color: rgb(11,211,186);
    margin-right: 10px;
    border-radius: 5px 0 0 5px;
}

.comm-side-cc{
    width: 100%;
    height: 32px;
    border-radius: 50px;
    background-color: rgb(215,218,220);
    color: black;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 44px;
}
    
.comm-side-cc:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, .9);
}
