html, body {
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 49px;
    background-color: rgb(26,26,27);
    align-items: center;
    padding-left: 17px;
    padding-right: 17px;
}

.reelit{
    text-decoration: none;
    color: rgb(215,218,220);
    margin-right: 30px;
}

.top-nav:hover{
    cursor: pointer;
}

.login{
    width: 102px;
    height: 32px;
    border-radius: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.login:hover{
    cursor: pointer;
}

.login-link{
    text-decoration: none;
    width: fit-content;
    height: 100%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


.profile-butt{
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: rgb(215,218,220);
    width: 203px;
    height: 37px;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

.profile-butt:hover{
    cursor: pointer;
    border: solid rgb(52,53,54) 1px;
}

.left-navbar{
    display: flex;
    align-items: center;
    width: 117px;
}

.profile-img{
    width: 31px;
    height: 31px;
    border-radius: 100%;
    margin-right: 10px;
}

.profile-dropdown{
    position: absolute;
    color: rgb(215,218,220);
    border: solid rgb(52,53,54) 1px;
    width: 203px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(26,26,27);
    font-family: Arial, Helvetica, sans-serif;
}

.prof-create-comm-l{
    text-decoration: none;
    color: rgb(215,218,220);
    padding: 8px 24px;
    width: 76%;
    font-family: Arial, Helvetica, sans-serif;
}

.prof-create-comm-l:hover{
    background-color: rgba(102,122,128,0.10196078431372549);
    cursor: pointer;
}

.log-out{
    display: flex;
    width: 100%;
    height: 37px;
    align-items: center;
    padding-left: 24px;
    background-color: rgb(26,26,27);
    border: none;
    color: rgb(215,218,220);
    font-family: Arial, Helvetica, sans-serif;
}

.log-out:hover{
    background-color: rgba(102,122,128,0.10196078431372549);
    cursor: pointer;
}

.favicon{
    width: 40px;
    border-radius: 100%;
    /* transform: scale(2); */
    margin-right: 5px;
}

.reelit{
    display: flex;
    align-items: center;
    width: 57px;
    height: 37px;
    padding-right: 24px;
    font-family: Arial, Helvetica, sans-serif;
}